PORT=3000
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=change_this_in_local_env

# Configuration Groq
UPSTREAM_API_URL=https://api.groq.com/openai/v1
GROQ_API_KEY=gsk_ta_cle_api_groq_ici
TARGET_MODEL=openai/gpt-oss-20b